
<div id="<%= dom_id m_variable%>" class="flex flex-row justify-between border-2 border-blue-200 p-4">
  <div id="var-data" class="flex flex-row">
    <%= form_with(model: m_variable, class: "contents") do |form| %>
      <%= form.hidden_field :id%>
      <div class="flex flex-col">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="flex flex-col">
        <%= form.label :value_type, "Type" %>
        <%= form.select :value_type, options_from_collection_for_select(MVariable::VALUE_TYPES, :to_s, :to_s, m_variable.value_type), 
          {}, { onchange: 'this.form.requestSubmit();'} %>
      </div>
      <%
        m_variable.value_type ||= MVariable::VALUE_TYPES.first
        value_sym = "#{m_variable.value_type.downcase}_value".to_sym 
      %>
      <div class="flex flex-col" data-controller="text-autosave">
        <%= form.label value_sym, "Value" %>
        <%= form.text_field value_sym, { data: {"text-autosave-target" => "text", action: "keyup->text-autosave#debounceSubmit" }} %>
      </div>
    <%end%>
  </div>
  <div id="var-actions" class="flex flex-row justify-end items-center">
    <div class="stroke-red-600 hover:stroke-red-800">
      <%= render 'components/delete_icon_button', model: m_variable, model_name: "variable", size: "2rem" %>
    </div>
  </div>
  
</div>
