THIS IS A FORM
<%= m_variable.name %>
<%= form_with(model: m_variable, class: "contents") do |form| %>
  <div class="flex flex-row justify-between">
    <div id="var-data" class="flex flex-row">
      <div class="flex flex-col">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="flex flex-col">
        <%= form.label :value_type, "Type" %>
        <%= form.select :value_type, options_from_collection_for_select(["Integer", "Text", "Decimal"], :to_s, :to_s, m_variable.value_type)%>
      </div>
      <div class="flex flex-col">
        <%= form.label :value %>
        <%= form.text_field :value %>
      </div>
    </div>
    <div id="var-actions" class="flex flex-row">
      buttons 
    </div>
    
  </div>
<% end%>
