<div class="mx-auto max-w-screen-lg w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @endpoint %>

    <div class="flex flex-row mt-5 justify-between">
      <div class="flex flex-row space-x-3">
        <%= link_to "Edit this endpoint", edit_endpoint_path(@endpoint), class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
        <%= link_to "Cancel", project_endpoints_path(project_id: @endpoint.project_id), class: "rounded-lg py-3 px-5 bg-gray-200 font-medium" %>
      </div>
      <%= button_to "Destroy", endpoint_path, method: :delete, class: "rounded-lg py-3 px-5 bg-red-800 text-white font-medium" %>
    </div>
    
  </div>
</div>
