<turbo-frame id="<%= dom_id expression%>">
  <div>
    <%= form_with(model: expression, class: "contents flex flex-col space-y-5", namespace: "#{expression.id}") do |form| %>
      <div>
        <%= form.label :operation %>
        <%= form.select :operation, options_from_collection_for_select(Expressions::Operation.all, :to_s, :to_s, expression.operation), 
          { include_blank: true }, { onchange: 'this.form.requestSubmit();'} %>
      </div>
    
      <div id="operands_<%= dom_id expression%>" class="flex flex-col space-y-5">
        <% unless expression.operation.blank? %>
          <%= render "expressions/operand", expression: expression, operand_number: 1%>
          <% if expression.has_operand2? %>
            <%= render "expressions/operand", expression: expression, operand_number: 2%>
          <% end %>
        <% end%>
      </div>
    <% end %>
  </div>
</turbo-frame>