<% op_val = "operand#{operand_number}_val" %>
<% op_type = "operand#{operand_number}_type" %>
<% op_form = "operand#{operand_number}_form" %>
<% hidden_class = "" %>
<% hidden_class = "hidden" if expression.available_operand_forms.count == 1 %>
<% tl_border = ""%>
<% tl_border = "rounded-tl-none" if expression.available_operand_forms.count > 1 %>
<div class="flex flex-col">
  <div class="<%= hidden_class %> flex flex-row border space-x-5 border-gray-300 rounded-t-lg w-min overflow-hidden items-center pl-5">
    <span class="font-semibold text-sm whitespace-nowrap">Operand <%= operand_number %>: </span>
    <%= select_tag "expression[#{op_form}]", 
      options_from_collection_for_select(expression.available_operand_forms, :to_s, :to_s, expression.send(op_form)), 
      {onchange: "this.form.requestSubmit();", id: "#{expression.id}_expression_#{op_form}",
      class: "h-8 py-0 text-sm"}  %>
  </div>
  <div class="flex flex-col space-y-5 border-gray-300 border rounded-lg <%= tl_border %> p-2">
    <%= render "expressions/operands/#{expression.send(op_form) }", 
      expression: expression, op_val: op_val, op_type: op_type%>
  </div>
</div>
