<div class="mx-auto w-full max-w-screen-lg flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex flex-row text-xl">
      <%= link_to "Projects", projects_path, class:"font-bold text-blue-600 hover:text-blue-800" %>
      &nbsp>&nbsp
      <%= @project.name%>
    </div>
    <div class="">
    </div>
    <%= render @project %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this project", @project, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-800 text-white font-medium" %>
    </div>
  </div>
</div>
