
  <% unless response.is_default? %>
    <details class="">
      <summary class="flex flex-row bg-inherit px-5 py-1 cursor-pointer content-between justify-between">
        <h2 class="font-bold">
          Conditions
        </h2>
      </summary>
      <div class="p-3 bg-surface-light dark:bg-surface-dark border border-gray-300">
        <%= render 'expressions/form', expression: response.expression %>
      </div>
    </details>
    
  <% end %>
  <div>
    <details class="">
      <summary class="flex flex-row bg-inherit px-5 py-1 cursor-pointer content-between justify-between">
        <h2 class="font-bold">
          Headers
        </h2>
        
      </summary>
      <div class="flex flex-col p-3 bg-surface-light dark:bg-surface-dark border border-gray-300 space-y-5">
        <%= link_to "Add header",  new_response_header_path(response_id: response.id), class: "rounded-lg py-1 px-5 bg-blue-600 text-white font-medium w-fit", data: {"turbo-stream": true} %>
        <div id="headers_<%= dom_id response%>" class="space-y-3">
          <% response.headers.each do |rheader| %>
            <%= render "headers/item", rheader: rheader %>
          <%end%>
        </div>
      </div>
      
    </details>
    
  </div>

  <div>
    <%= form_with(model: response, class: "contents flex flex-col space-y-5") do |form| %>
      <div class="flex flex-row w-full items-center space-x-5">
        <%= form.label :responseable_type, "Response type", class: "font-bold" %>
        <%= form.select :responseable_type, options_from_collection_for_select(Response.responseable_types.map{ |type| KeyValue.new(type, type.titleize.humanize) }, :key, :value), {}, class:"w-full", onchange: 'this.form.requestSubmit();'%> 
        
      </div>
      <div class="">
        <%= render "responses/types/#{response.responseable_type.underscore}", form: form, response: response%>
      </div>
    <% end %>
  </div>
  
