
  <% unless response.is_default? %>
    <div class="">
      <h2 class="font-bold">
        Conditions
      </h2>
      <%= render 'expressions/form', expression: response.expression %>
    </div>
  <% end %>
  <div>
    <%= form_with(model: response, class: "contents flex flex-col space-y-5") do |form| %>
      <div class="flex flex-row w-full items-center space-x-5">
        <%= form.label :responseable_type, "Response type" %>
        <%= form.select :responseable_type, options_from_collection_for_select(Response.responseable_types.map{ |type| KeyValue.new(type, type.titleize.humanize) }, :key, :value), {}, class:"w-full", onchange: 'this.form.requestSubmit();'%> 
        
      </div>
      <div class="">
        <%= render "responses/types/#{response.responseable_type.underscore}", form: form, response: response%>
      </div>
    <% end %>
  </div>
  
