<div id="<%= dom_id rheader%>">
  <div class="flex flex-row border rounded-md justify-between">
    <div class="flex flex-row space-x-3 items-center">
      <%= form_with model: rheader do |form|%>
        <%= form.checkbox :enabled %>
      <% end%>
      <span class="font-semibold">header:</span><span><%= rheader.field%></span>
      <span class="font-semibold">value:</span><span><%= rheader.value%></span>
    </div>
    <div class="flex flex-row space-x-2 items-center justify-end">
      <div class="stroke-blue-600">
        <%= render "components/edit_icon_button", url: edit_header_path(rheader), size: 20, turbostream: true %>
      </div>
      <div class="stroke-red-600 hover:stroke-red-800">
        <%= render "components/delete_icon_button", model: rheader, size: 20 %>
      </div>
    </div>
    
  </div>
</div>